In [ ]:

salary=int(input())
if salary <250000:
  print("tax")
if  250000 <salary <500000:
  print((salary-250000)*10/100)
if 500000 <salary >750000:
  print((salary-500000)*20/100)
if salary >750000:
  print((salary-750000)*30/100)

770000
54000.0
6000.0

In [ ]:
salary=int(input())
if salary <250000:
  print("tax")
if  250000 <salary <500000:
  print((salary-250000)*10/100)
if 500000 <salary >750000:
  print((salary-500000)*20/100 +(500000-250000)*10/100)
if salary >750000:
  print((salary-750000)*30/100)+((salary-500000)*20/100)+((salary-250000)*10/100

SyntaxError: ignored

In [ ]:
salary=int(input())
if salary <250000:
  print("tax")
if  250000 <salary <500000:
  print((salary-250000)*10/100)
if 500000 <salary >750000:
  print((salary-500000)*20/100 +(500000-250000)*10/100)
if salary >750000:
  print((salary-750000)*30/100+((salary-500000)*20/100)+((salary-25000)*10/100))
if salary >10000000:
  print((salary-750000)*30/100+(salary-500000)*20/100+(salary-25000)*10/100+(salary-10000000)*2/100)

12000000
2325000.0
6872500.0
6912500.0