<a href="https://colab.research.google.com/github/Ihsaniya/Python-Basics/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x=input("enter the travel source")
y=input("enter the travel destination")
z=int(input("number of passengers"))
print(x)
print(y)
print(z)

enter the travel source Kannur
enter the travel destination Paris
number of passengers 400
 Kannur
 Paris
400

In [4]:
x=int(input("Total ticket fair price:"))
y=int(input("No of passengers:"))
print("ticekt fare per person:1200")

Total ticket fair price: 2400
No of passengers: 400
ticekt fare per person:1200

In [6]:
x=input("Passenger Name:")
y=int(input("Ticket Fare:"))
print(x,y)

Passenger Name:Chriz Mon
Ticket Fare: 2400
Chriz Mon 2400

In [7]:
x=int(input("Tickt fare:"))
if x >10000:
  print("Eligible for discount")
else:
  print("Not eligible for discount")

Tickt fare: 12000
Eligible for discount

In [8]:
x=int(input("Total ticket fare:"))
if x >15000:
  print("Eligible for 20% discount")
else:
  print("Eligible for 10% discount")

Total ticket fare: 16500
Eligible for 20% discount

In [9]:
x=int(input("Ticket fare:"))
if x >15000:
   print(x*20/100)
if x >10000:
  print(x*10/100)
else:
  print(x*5/100)

Ticket fare: 14500
1450.0

In [12]:
x=int(input("Enter a number:"))
if x>0:
  print("Positive number")
elif x <0:
  print("Negative number")
else:
  print("Zero number ")

Enter a number:100002
Positive number

In [13]:
x=int(input("Age:"))
if x >18:
  print("Adult")
if 18 >x >13:
  print("Teenager")
if 13 >x >6:
  print("Kid")
elif 5 >x >2:
  print("Toddler")
else:
  print("Infant")

Age:7
Kid

In [21]:
x=input("initial of your name:")
y=["a","e","i","o","u"]
if x in y:
  print("Vowel")
else:
  print("Not vowel")

initial of your name:a
Vowel

In [22]:
x=input("Name:")
for a in x:
  print(a)

Name:Chriz Mon
C
h
r
i
z

M
o
n

In [23]:
for a in range(45,88):
  if a%2!=0:
    print(a)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [24]:
k=0
for a in range(1,11):
  k=k+a
  print(k)

1
3
6
10
15
21
28
36
45
55