<a href="https://colab.research.google.com/github/Ihsaniya/Python-Basics/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("enter a name")
print(name)

enter a namemeryl
meryl

In [4]:
x=int(input("english mark"))
y=int(input("french mark"))
z=int(input("banking mark"))
sum=x+y+z
print(sum)

english mark48
french mark47
banking mark46
141

In [5]:
x=int(input("english mark"))
y=int(input("french mark"))
z=int(input("banking mark"))
sum=x+y+z
print(sum/3)

english mark48
french mark47
banking mark46
47.0

In [6]:
x=int(input("enter a number"))
if x >50:
  print("the number is greater")
if x<50:
  print("number is smallest")

enter a number62
the number is greater

In [8]:
x=int(input("enter the first number"))
y= int(input("enter the 2nd number"))
if x >y:
  print(x,"is greater")
if x <y:
  print(y,"is smallest")

enter the first number45
enter the 2nd number35
45 is greater

In [14]:
x=int(input("enter the first number"))
y= int(input("enter the 2nd number"))
z=int(input("enter the 3rd number"))
if x >y and x >z:
  print(x,"is greatest")
if y >x and y >z:
  print(y,"is greatest")
if z >x and z>y:
  print(z,"is greatest")

enter the first number50
enter the 2nd number60
enter the 3rd number70
70 is greatest

In [15]:
x=int(input("enter a number"))
if x%2==0:
  print("even number")
else:
  print("odd number")

enter a number18
even number

In [18]:
x=[1,2,3,4,5,6,7,8,9,10]
for a in x:
  print(a)

1
2
3
4
5
6
7
8
9
10

In [19]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10