<a href="https://colab.research.google.com/github/Ihsaniya/Python-Basics/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=int(input())
if x<0:
  print(x*(-1))

-4
4

In [3]:
num=int(input())
if num>0:
  print("absolute value of",num,"is",num)
else:
  num=num*(-1)
  print("absolute value of",num ,"is",num)

-10
absolute value of 10 is 10

In [6]:
x=int(input("Enter mark:"))
if x <25:
  print("F")
if 25 <x <45:
  print("E")
if 45< x <50:
  print("D")
if 50< x <60:
  print("C")
if 60 < x <80:
  print("B")
if x >80:
  print("A")

Enter mark:81
A

In [12]:
x=int(input("No.of classes held:"))
y=int(input("No. of classes attended:"))
z=y/x*100
if z>75:
  print(z,"You are able to attend the exam")
if z< 75:
  print(z,"you aren't able to attend the exam")

No.of classes held:150
No. of classes attended:125
83.33333333333334 You are able to attend the exam

In [14]:
# Program for calculator
print("1.addition")
print("2.subtraction")
print("3.multiplication")
print("4.division")
print("5.modulus")
print("6.floor division")
print("7.exponent")
x=int(input("choose a number"))
y=int(input("enter a 1st number"))
z=int(input("enter a 2nd number"))
if x==1:
  print(y+z)
if x==2:
  print(y-z)
if x==3:
  print(y*z)
if x==4:
  print(y/z)
if x==5:
  print(y%z)
if x==6:
  print(y//z)
if x==7:
  print(y**z)

1.addition
2.subtraction
3.multiplication
4.division
5.modulus
6.floor division
7.exponent
choose a number3
enter a 1st number4
enter a 2nd number5
20

In [16]:
a=int(input("enter mark of 1st subject:"))
b=int(input("enter mark of 2nd subject"))
c=int(input("enter mark of 3rd subject"))
d=int(input("enter mark of 4th subject"))
e=int(input("enter mark of 5th subject"))
print('least marks',min(a,b,c,d,e))
print('max mark',max(a,b,c,d,e))
print((a+b+c+d+e)/5)

enter mark of 1st subject:75
enter mark of 2nd subject76
enter mark of 3rd subject78
enter mark of 4th subject79
enter mark of 5th subject80
least marks 75
max mark 80
77.6